

#game {
    font-family: "Oswald", sans-serif;
    padding-top: 700px;
}
body {
    color: white;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.3rem;
    margin-bottom: 4rem;
    max-width: 30rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: -40px;
    max-width: 30rem;
}
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    font-size: 130%;
    min-width: 30rem;
    max-width: 30rem;
    height: 70px;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    background-color: rgb(255, 115, 0);
}

.choice-text {
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgb(255, 115, 0);
}

.choice-text {
    
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* heads up **/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.8rem;
}

.hud-item {
    font-size: 1.2rem;
}

.hud-main-text {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width: 980px){
    .choice-container {
        min-width: 60%;
    }
    
}

