#game {
    font-family: "Oswald", sans-serif;
    padding-top: 690px;
    padding-left: 80px;
    padding-right: 80px;
}
body {
    color: white;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 130%;
    min-width: 60rem;
    height: 70px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 1.5rem 0 rgb(255, 0, 0);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    background-color: rgb(225, 115, 0);
}

.choice-text {
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgb(225, 115, 0);
}

.choice-text {
    
    width: 100%;
}

.hud-item {
    font-size: 120%;
}

.hud-main-text {
    font-size: 150%;
}

