#game {
    font-family: "Oswald", sans-serif;
    padding-top: 690px;
    padding-left: 100px;
    padding-right: 100px;
}
body {
    color: white;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    font-size: 130%;
    min-width: 50rem;
    height: 70px;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    background-color: rgb(255, 115, 0);
}

.choice-text {
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgb(255, 115, 0);
}

.choice-text {
    
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* heads up **/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-item {
    font-size: 2rem;
}

.hud-main-text {
    font-size: 2rem;
    text-align: center;
}

#progressBar {
    width: 10rem;
    height: 1.5rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 1rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

