* {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
}

/* headings and toggle menu **/

.heading {
    position: fixed;
    height: 60px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
    background-color: gray;
    font-family: "Bungee", sans-serif;
    font-size: 240%;
    letter-spacing: 4px;
    color: rgb(251, 255, 0);
    text-shadow: 0px 0px 3px black;

}

#sidebar {
    position: fixed;
    width: 30%;
    height: 100%;
    left: -30%;
    background-color: rgb(48, 48, 48);
}

#sidebar li {
    color: white;
    font-size: 30px;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
    list-style: none;
    font-family: "Bungee", sans-serif;
    font-size: 115%;
    letter-spacing: 2px;
}

#sidebar li:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.02);
}

.active {
    color: rgb(255, 115, 0);
}

.non-active {
    color: white;
}

.toggle-btn {
    position: absolute;
    left: 105%;
    top: 20px;
    background-color: gray;

}

.toggle-btn span {
    display: block;
    width: 40px;
    height: 7px;
    margin: 6px;
    background-color: rgb(251, 255, 0);
}

.toggle-btn:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.1);
}

#sidebar.active {
    left: 0;
}

/* sub heading **/

.sub-heading {
    font-family: "Oswald", sans-serif;
    padding-top: 120px;
    text-align: center;
    font-size: 260%;
    color: rgb(255, 115, 0);
    letter-spacing: 2px;
}

/* beer glasses gif **/

#gif {
    width: 27%;
}
/* start game button **/

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    align-items: center;
}

.hidden {
    display: none;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-size: 200%;
    letter-spacing: 1px;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 220px;
    height: 20px;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(224, 228, 0);
    background: linear-gradient(90deg, rgb(225, 0, 0) 0%, rgb(209, 0, 0) 100%);
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(255, 251, 0, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* rules **/
#rules {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 160%;
    padding-left: 320px;
    padding-right: 320px;
    line-height: 40px;
    letter-spacing: 1px;
}

#rules li {
    margin-bottom: 30px;
    margin-top: 40px;
    list-style: none;
    text-align: center;
}

#good-luck {
    font-size: 110%;
}

/* high scores css **/

#finalScore {
    font-family: "Oswald", sans-serif;
    font-size: 350%;
    color: rgb(255, 115, 0);
    letter-spacing: 1px;
    margin-top: -5px;
}

#finalScores {
    font-family: "Oswald", sans-serif;
    font-size: 260%;
    letter-spacing: 1px;
    color: rgb(255, 115, 0);
    margin-top: 150px;
}
body {
    color:rgb(255, 255, 255);
}

#highScoresList {
    font-family: "Oswald", sans-serif;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.high-score {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}


/** media query's **/

@media screen and (max-width: 600px) {
    #gif {
        width: 50%;
    }

}