
* {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
}

.Site {
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
  }

/* gif animation **/ 

.glowIn {
  color: rgb(251, 255, 0);
  margin-top: 400px;
}

span {
    animation: glow-in 0.8s both;
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* title tester **/

.ml6 {
    position: relative;
    text-align: center;
  }
  
  .ml6 .text-wrapper {
    font-family: "Bungee", sans-serif;
    font-size: 90%;
    color: rgb(251, 255, 0);
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* sub heading **/

.sub-heading {
    font-family: "Oswald", sans-serif;
    padding-top: 40px;
    text-align: center;
    font-size: 260%;
    color: rgb(255, 115, 0);
    letter-spacing: 2px;
}

.sub-heading h2 {
    font-size: 60%;
    margin-bottom: -20px;
}

/* beer glasses gif **/

#gif {
    width: 32%;
    height: 32%;
    margin-bottom: -40px;
    margin-top: -85px;
}


/* start game button **/

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    align-items: center;
}

.hidden {
    display: none;
}

.btn {
    font-family: "Bungee", sans-serif;
    font-size: 140%;
    letter-spacing: 2px;
    padding: 40px;
    padding-top: 25px;
    padding-bottom: 35px;
    width: 200px;
    height: 20px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -5px;
    text-decoration: none;
    color: rgb(224, 228, 0);
    background: linear-gradient(90deg, rgb(225, 0, 0) 0%, rgb(209, 0, 0) 100%);
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgba(255, 251, 0, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/** game starts here */

#game {
    font-family: "Oswald", sans-serif;
    width: 600px;
    margin: 0 auto;
    margin-top: -90px;
}

#question {
    font-family: "Bungee", sans-serif;
    font-size: 130%;
    letter-spacing: 1px;
    margin-top: -20px;
    line-height: 30px;
}
body {
    color: white;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.3rem;
    margin-bottom: 4rem;
}

h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    min-width: 35rem;
    max-width: 35rem;
}
.choice-container {
    display: flex;
    color: #fafafa;
    width: 100%;
    min-width: 70%;
    border-radius: 2px;
    border: 0.1rem solid #fdd835;
    margin-bottom: 1rem;

}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding-top: 17px;
    padding-left: 20px;
    color: white;
}

.choice-text {
    font-size: 130%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    width: 100%;
}

.correct {
    border: 0.2rem solid #01ff38;
}

.incorrect {
    border: 0.2rem solid red;
}

/* heads up **/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.8rem;
    color: rgb(255, 115, 0);
}

.hud-item {
    font-size: 1.8rem;
    color: rgb(255, 115, 0);
}

.hud-main-text {
    font-size: 2rem;
    text-align: center;
    color: red;
}

/* end page **/

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(251, 255, 0, 0.568);
}

input::placeholder {
    color: rgb(185, 185, 185);
}

#username {
    margin-bottom: 2rem;
    width: 300px;
    height: 20px;
    outline: none;
    margin-top: -40px;
    color: rgb(214, 214, 214);
    font-size: 150%;
}

#end {
    margin-top: -80px;
}

/* save score button **/

#saveScoreBtn {
    width: 280px;
    height: 70px;
    border: none;
}

/* score text **/

.container {
    height: 50px;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#end-text {
    font-family: "Oswald", sans-serif;
    font-size: 200%;
    margin-top: -80px;
    text-align: center;
    color: white;
}



/* rules page **/

#rules {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 160%;
    padding-left: 320px;
    padding-right: 320px;
    line-height: 40px;
    letter-spacing: 1px;
}

#rules li {
    margin-bottom: 30px;
    margin-top: 40px;
    list-style: none;
    text-align: center;
}

#good-luck {
    font-size: 110%;
}

/** high scores css **/

#finalScores {
    font-family: "Oswald", sans-serif;
    font-size: 260%;
    letter-spacing: 1px;
    color: rgb(255, 115, 0);
}

body {
    color:rgb(255, 255, 255);
}

#highScoresList {
    font-family: "Bungee", sans-serif;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.high-score {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

/** footer **/

#home-page-footer {
    bottom: 0;
    height: 1px;
    width: 100%;
    font-family: "Bungee", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

#home-page-footer h3 {
    font-size: 80%;
    letter-spacing: 1px;
    color: rgb(255, 115, 0);
    margin-top: 40px;
    height: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    font-family: "Bungee", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
} 

#footer h3 {
    font-size: 80%;
    letter-spacing: 1px;
    color: rgb(255, 115, 0);
    margin-top: 40px;
    height: 80px;
}
    


/** media query's **/

@media screen and (max-width: 600px) {
    .ml6 .text-wrapper {
        font-size: 70%;
    }
    #gif {
        width: 70%;
    }

    .sub-heading h2 {
        font-size: 30px;
    }

    #rules li {
        font-size: 20px;
        line-height: 30px;
    }

    .btn {
        width: 120px;
        height: 7px;
        font-size: 15px;
        letter-spacing: 1px;
  
    }

    #saveScoreBtn {
        width: 200px;
        height: 20px;
        font-size: 16px;
    }
    
    #highscores {
        margin-top: -30px;
       
    }

    #game {
        width: 300px;
    }

    #score {
        font-size: 70%;
    } 

    .hub-prefix {
        font-size: 70%;
    }

    #progressText {
        font-size: 70%;
    }
    #question {
        font-size: 90%;
        margin-top: -50px;
    }
    #hud {
        width: 90%;
    }
    h3 {
        font-size: 20px;
        min-width: 280px;
        max-width: 280px;
    }
    #username {
        width: 200px;
        height: 10px;
        font-size: 15px;
    }

    #end-text {
        font-size: 20px;
    }

    #finalScore {
        font-size: 40px;
    }

}

@media screen and (max-width: 980px){
    .choice-container {
        min-width: 60%;
    }

    #rules {
        font-family: "Oswald", sans-serif;
        color: white;
        font-size: 160%;
        padding-left: 50px;
        padding-right: 50px;
        line-height: 40px;
        letter-spacing: 1px;
    }
    
    #rules li {
        margin-bottom: 30px;
        margin-top: 40px;
        list-style: none;
        text-align: center;
    }
    
    #good-luck {
        font-size: 110%;
    }

    
}

@media screen and (min-device-width: 1920px) and (max-device-width: 2160px) {
    .heading {
        position: fixed;
        height: 60px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: gray;
        font-family: "Bungee", sans-serif;
        font-size: 240%;
        letter-spacing: 4px;
        color: rgb(251, 255, 0);
        text-shadow: 0px 0px 3px black;
    
    }
}